<div class="projects" ng-init="index()">
  <div class="container">
    <div class="row center">
        <h2>Your projects</h2>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="row" >
          <div class="col s12 m8 offset-m2">
            <div ng-if="projects.length > 0" class="collection">
              <a ng-repeat="project in projects" ui-sref="projects.show({id: project.uuid})" class="collection-item">{{ project.title }}</a>
            </div>
          </div>
        </div>
        <div class="row center">
            <a ui-sref="projects.create" class="btn-large primary-button">Create project</a>
        </div>
      </div>
    </div>
  </div>
</div>
