<div class="collapsible-header tasks__task__header" ng-class="{completed: task.completed}" as-sortable-item-handle>
  <div ng-if="editState != task.uuid">
    <input type="checkbox" class="filled-in tasks__task__checkbox" id="complete_{{task.uuid}}" ng-change="updateCompletedStatus(task)" ng-model="task.completed" />
    <label for="complete_{{task.uuid}}" class="black-text">{{task.title}}</label>
  </div>
  <form ng-if="editState == task.uuid" name="form" class="tasks__edit__form" novalidate>
        <input id="title" type="text" name="title" ng-model="task.title" class="validate" ng-required="true" />
  </form>
</div>
<a class="tasks__task__deadline chip light-blue lighten-2 white-text clickable" ng-click="toggleDatePickerState(task.uuid)">
  {{task.__deadline_at || task.deadline_at || "Choose deadline"}}
</a>
<div
  id="{{'datepicker_' + task.uuid}}"
  ng-if="datePickerState == task.uuid"
  click-outside="closeDatePicker(task)"
  class="tasks__task__datepicker"
  pickadate
  ng-model="task.__deadline_at"
  default-date="task.deadline_at"
  format="yyyy-mm-dd"
></div>
<a ng-if="editState != task.uuid" ng-click="toggleEditState(task.uuid)"  class="btn-floating btn-small light-blue tasks__edit_button">
  <i class="large material-icons">mode_edit</i>
</a>
<a ng-if="editState != task.uuid" ng-click="delete(task.uuid)" class="btn-floating btn-small light-blue tasks__delete_button">
  <i class="large material-icons">delete</i>
</a>
<a ng-if="editState == task.uuid" ng-click="toggleEditState()" class="btn-floating btn-small light-blue tasks__edit_button">
  <i class="large material-icons">arrow_back</i>
</a>
<a ng-if="editState == task.uuid" ng-click="update(task)"  class="btn-floating btn-small light-blue tasks__save_button">
  <i class="large material-icons">save</i>
</a>
<div class="collapsible-body comments" ng-controller="commentsController">
  <h4 ng-if"task.comments" class="center">Comments</h4>
  <li class="comments__comment" ng-repeat="comment in task.comments" ng-include="'comments/comment.html'"></li>
  <li ng-include="'comments/create.html'"></li>
</div>
