<div class="main" ng-app="App">
  <div ui-view></div>
  <!-- We'll also add some navigation: -->
  <a ui-sref="index">Index state</a>
  <a ui-sref="sign_in">Sign in</a>
  <a ui-sref="sign_in">Sign up</a>
</div>
