.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

input:-webkit-autofill {
  background: #fff !important;
}

.primary-button {
  @extend .btn;
  @extend .waves-effect;
  @extend .waves-light;
  @extend .light-blue;
  @extend .white-text;
  font-weight: 600;
}
.auth-page {
  padding: 20px 0 0;
}
