.tasks {
  &__task {
    &__header {
      position: relative;
    }
  }
  &__edit_button, &__delete_button {
    position: absolute;
    top: 10px;
  }
  &__edit_button {
    right: 40px;
  }
  &__delete_button {
    right: 5px;
  }
}
