<form name="form" ng-submit="create(form)" class="comments__create_form" novalidate>
  <div class="row">
    <div class="input-field col s12">
      <input id="text" type="text" name="text" ng-model="comment.text" class="validate" required="true">
      <label for="text">Your comment</label>
    </div>
    <div class="input-field col s12">
      <input id="image" type="file" name="image" ng-model="comment.image" base-sixty-four-input>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button type="submit" class="primary-button">
        Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</form>
